<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="submitForm">
        <p v-if="errors.length > 0">
          <b>please correct the following errors</b>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </p>


        <label>Name :</label><br>
        <input type="text" :disabled="buttonStatus == 'upload'" name="title" ref="title" v-model="name" class="i" /><br><br>
        <label>Alamat :</label><br>
        <input type="text" :disabled="buttonStatus == 'upload'" name="address" ref="address" v-model="address" class="i" /><br><br>
        <label>No Hp :</label><br>
        <input type="text" :disabled="buttonStatus == 'upload'" name="hp" ref="hp" v-model="hp" class="i" /><br><br>
        
        <div v-if="buttonStatus == 'submit'">
          <input type="submit" value="SUBMIT" />
        </div>
        <div v-else-if="buttonStatus == 'update'">
          <input type="button" value="UPDATE" @click="updateMember(idEditMember)" />
          <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;" />
        </div>
        <div v-else-if="buttonStatus == 'upload'">
          <input type="file" name="photo" ref="photo"/>
          <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin-top: 5px; margin-bottom: 5px;">
          <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;" />
        </div>
      </form>

      <table border="1">
        <tr v-for="member of members">
          <td>
            <img width="100" :src="member.photo_profile ? photoDomain + member.photo_profile : 'default.png'">
          </td>
          <td>
            <b>Nama : </b> {{member.name}}<br>
            <b>Alamat : </b> {{member.address}}<br>
            <b>No HP : </b> {{member.no_hp}}<br>
          </td>
          <td>
            <button @click="editMember(member)">Edit</button>
            <button @click="deleteMember(member.id)">Hapus</button>
            <button @click="uploadFoto(member)">Upload Photo</button>
          </td>
        </tr>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
